.organization {
	display: flex;
	background-color: #96c7d6;
	border-radius: 10px;
}

#left {
	float: left;
	width: 30%;
	margin: 10px;
	display: block;
	justify-content: center;
	text-align: center;
}

#left img {
	width: 100%;
	border-radius: 50%;
	border: 3px solid #888888;
}

#right {
	display: grid;
	float: right;
	width: 70%;
	align-items: center;
}

#right p {
	background-color: white;
	margin: 10px;
	border-radius: 10px;
	padding: 10px;
}

.post-container {
	display: block;
	margin: 10px auto;
	margin-top: 20px;
	padding: 10px;
	border-radius: 10px;
	background-color: rgba(138, 239, 165, 0.836);
}

.post-container .description {
	background-color: white;
	margin: 10px;
	border-radius: 10px;
	padding: 10px;
	text-align: justify;
}

.post-images {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
}

.post-images img {
	height: 170px;
	padding: 5px;
}