@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
.main{
    border-radius: inherit;
    margin: 0 20px 30px 20px;
}
.wrapper{
    margin: 0 20px 20px 20px;
    width: 40%;
    background: var(--white);
    border-radius: 10px;
}
.wrapper header{
    padding: 5px 30px 10px;
    color: var(--blue);
}
header .current-date{
    font-size: 1.2rem;
    font-weight: 500;
}
header .icons span{
    height: 38px;
    width: 38px;
    margin: 0 1px;
    line-height: 38px;
    border-radius: 50%;
    cursor: pointer;
}
header .icons span:hover{
    background: var(--blue);
    color: var(--white);
}
header .icons span:last-child{
    margin-right: -10px;
}
.calendar{
    padding: 0 20px 20px 20px;
}
.calendar .weeks{
    margin-bottom: 0;
}
.calendar .weeks li{
    font-weight: 500;
    color: #858585;
    /*me color eka main ake na*/
}
.calendar .days li{
    cursor: pointer;
    margin-top: 15px;
    z-index: 1;
    color: var(--blue);
}
.calendar ul{
    list-style: none;
    padding: 0;
}
.calendar ul li{
    width: calc(100% / 7);
    position: relative;
}
.days li.inactive{
    color: #aaa;
/*    me color ekath add krnna one*/
}
.days li.active{
    color: var(--white);
}
.days li.active::before{
    background: var(--blue);
}
.calendar .days li::before{
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
}
.days li:hover::before{
    background: var(--blue-white);
}

.card{
    margin: 2%;
    width: 80%;
}
.cards_heading{
    color: var(--blue);
    padding: 1% 4% 1% 4%;
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 10px;
}
.cards_content{
    background: #0B2273;
    color: white;
    font-size: 20px;
    font-weight: normal;
}

.cards_content1 {
    background: #E6ECF2;
    font-size: 20px;
    font-weight: normal;
}
