
.main {
    padding: 100px 150px 0 150px;
}

.container {
    margin-left: 100px;
}

.calendar {
    font-weight: 100;
    --grey-100: #e4e9f0;
    --grey-200: #cfd7e3;
    --grey-300: #b5c0cd;
    --grey-800: #3e4e63;
    --grid-gap: 5px;
    --day-label-size: 80px;
}

.container-body {
    padding: 0 150px 0 150px;
}

.calendar{
    position: relative;
    border: solid 1px var(--grey-300);
    width: 700px;
}

.icons {
    display: flex;
}

.icons span{
    width: 50px;
    cursor: pointer;
    font-size: 30px;
    margin-top: 5px;
    margin-left: 10px;
} 

#next {
    float: right;
    margin-left: 35%;
}

.current-date {
    font-size: 30px;
    margin-left: 200px;
}

/* sat, sun */
.day-of-week { 
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    color: var(--grey-800);
    font-size: 20px;
    padding-bottom: 5px;
    padding-top: 10px;
    text-align: center;
    background-color: #6aa438a1;
}

/* .day-of-week>* {
    text-align: center;
} */

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    position: relative;
    /* align-content: center; */
    grid-column-gap: var(--grid-gap);
    grid-row-gap: var(--grid-gap);
    border: solid 1px var(--grey-200);
    text-align: center;
}

.calendar .days li{
    cursor: pointer;
    color: var(--grey-800);
    font-size: 18px;
    background-color: var(--grey-200);
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 10px 0 0 30px;
    width: var(--day-label-size);
    height: 60px;
}

.days li.active {
    color: var(--grey-800);
}

.days li.inactive{
    color: var(--grey-300);
}



