#add-org-srch-btn {
    width: 180px;
    margin: 5px;
}

.popup-add-org {
    display: inline-block;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.popup-add-org h2 {
    text-align: center;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: transparent;
    padding: 5px;
}

.search-container input {
    width: 100%;
    height: 40px;
    padding: 5px 10px;
    border: none;
    box-shadow: 0 0 5px 2px #ccc;
    border-radius: 20px;
    background-color: #f8f8f8;
    margin: 5px 20px 5px 5px;
}

.search-container input:focus {
    border: none;
    box-shadow: 0 0 5px 2px #84b464b9;
    border-radius: 20px;
    background-color: #f8f8f8;
}

.search-container button {
    width: 150px;
    height: 40px;
    padding: 5px;
    border: none;
    border-radius: 20px;
    background-color: #84b464;
}

.search-results, .collaborators-container {
    width: 100%;
    height: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    margin: 5px;
    overflow: hidden;
    overflow-y: auto;

}

.search-results .row, .collaborators-container .row {
    width: 80%;
    margin: 5px 20px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 5px 2px #ccc;
    border-radius: 20px;
}

.search-results .row img, .collaborators-container .row img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 5px;
    box-shadow: 0 0 5px 2px #ccc;
}

/* .search-results .row h3 {} */

.search-results .row a {
    margin-right: 10px;
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #84b464;
    text-decoration: none;
    font-size: 40px;
}

.search-results .row a:hover {
    color: white;
    background-color: #84b464;
    text-decoration: none;
    box-shadow: 0 0 5px 2px #84b464b9;
}

.collaborators-container .row a {
    margin-right: 10px;
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: red;
    text-decoration: none;
    font-size: 40px;
}

.collaborators-container .row a:hover {
    color: white;
    background-color: red;
    text-decoration: none;
    box-shadow: 0 0 5px 2px red;
}