@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

* {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .item {
  border: 1px solid black;
} */

.back-image {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center center;
  z-index: -1;
  height: 83vh;
}

.container {
  width: 80%;
  height: 400px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(16px);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3fr 1fr;
  grid-template-areas:
    "a b"
    "c b";
  margin: auto;
  margin-top: 150px;
}

.item-1 {
  grid-area: a;
  display: flex;
}

.item-2 {
  grid-area: b;
}

.item-3 {
  grid-area: c;
  padding-left: 30px;
}

input[type=text] {
  width: 60%;
  padding: 10px;
  border-radius: 20px;
  margin: auto;
  display: inline-block;
  border: 2px solid rgb(169, 216, 250);
}

input[type=text]:focus {
  border: 4px solid rgb(169, 216, 250);
	outline: none;
}

#search {
  background-color: #6aa438;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
}

#logo2 {
  height: 300px;
}

#slang {
  font-size: 30px;
  margin-top: 70px;
  font-weight: bold;
}

h3 {
  text-align: center;
  padding-top: 60px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  opacity: 1;
}

.img {
  height: 400px;
  width: 100%;
  border-radius: 0 20px 20px 0;
}

.brands {
  height: 100px;
  padding: 10px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}


/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 2s;
}

table {
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}


.container2 {
  width: 80%;
  height: 230px;
  border-radius: 20px;
  background-color: rgb(182, 194, 204);
  backdrop-filter: blur(16px);
  display: flex;
  margin: auto;
}

.text {
  padding: 20px;
}

#who, #contact{
  font-size: 40px;
  margin-top: 40px;
}

#des {
  font-size: 20px;
  width: 800px;
  padding: 50px;
  text-align: justify;
}

#email {
  font-size: 20px;
  padding-top: 50px;
}

#con-details {
  font-size: 20px;
  width: 150px;
  padding: 50px 0 0 80px;
}

#numbers {
  font-size: 20px;
  width: 210px;
  padding: 50px 0 0 50px;
}
#number {
  font-size: 20px;
  margin-top: 50px;
}

p {
  padding: 10px 0 0px 7px;
  font-size: 18px;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}