@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Lobster&family=Open+Sans:wght@300&family=Poppins:ital,wght@0,100;0,200;0,400;1,100&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #89afd6;
	font-family: "Poppins", sans-serif;
}

.bg-img {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: -1;
	width: 100%;
	height: 100%;
	/* filter: blur(5px); */
}

h1 {
	text-align: center;
	padding: 5px;
}

/* Bordered form */
form {
	/* border: 2px solid #f1f1f1; */
	width: 500px;
	margin: auto;
	margin-top: 20px;
	padding: 30px 70px;
	background: #66a3d6;
	border-radius: 20px;
	position: absolute;
	top: 53%;
	left: 50%;
	transform: translate(-50%, -50%);
}

label {
	padding-top: 30px;
}

/* Full-width inputs */
input[type="email"],
input[type="password"] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 10px;
	box-sizing: border-box;
}

/* Set a style for all buttons */
button {
	background-color: #6aa438;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	width: 100%;

	font-family: "Poppins", sans-serif;
	text-decoration: none;
	font-size: 20px;
}

/* Add a hover effect for buttons */
button:hover {
	opacity: 0.8;
}

/* Add padding to containers */
.container {
	padding: 16px;
}

/* The "Forgot password" text */
span.psw {
	float: right;
	padding-top: 16px;
}

#error {
	color: white;
	background: rgb(201, 61, 61);
	padding: 10px;
	border-radius: 10px;
	text-align: center;
}
