@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Lobster&family=Open+Sans:wght@300&family=Poppins:ital,wght@0,100;0,200;0,400;1,100&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Patrick+Hand&family=Quicksand:wght@500&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

header a {
	text-decoration: none;
}

header {
	font-family: "Montserrat";
	padding: 25px 20px;
	background-color: rgba(0, 0, 0, 0.75);
	backdrop-filter: blur(16px);
	height: 80px;
	display: flex;
	justify-content: space-between;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 100;
}

#navbar-left {
	display: flex;
}

#logo {
	width: 85px;
	height: 85px;
}

#logo:hover {
	opacity: 0.8;
}

#brand {
	align-items: center;
	display: flex;
	margin-left: 10px;
}

ul a {
	color: #6aa438;
	font-weight: bold;
}

ul {
	list-style: none;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

ul li {
	padding: 15px;
	margin-left: 10px;
}

ul li:hover {
	transform: scale(1.1);
	transition: 00.3s;
}

#logout {
	background-color: #84b464;
	border-radius: 4px;
	width: 110px;
	height: 50px;
	text-align: center;
	display: inline-block;
	align-items: center;
	margin-left: 0;
}

#logout a {
	color: black;
	font-size: 18px;
}

@media only screen and (max-width: 750px) {
	header nav {
		display: none;
	}

	#hamburger-icon {
		display: block;
	}
}