.main{
	padding: 100px 150px 0px 150px;
}

.row1{
    display: flex;
	width: auto;
	flex-direction: column;
}
.row1{
    display: flex;
	width: auto;
	flex: 80%;
	flex-direction: roe;
}

.form1{
	border: 2px solid #f1f1f1;
	width: 60%;
	display: flex;
	margin: auto;
	margin-top: 20px;
	padding: 50px 50px;
	background: #89afd6;
	border-radius: 15px;
}

/* Create two equal columns that sits next to each other */
.column1 {
    flex: 40%;
    padding: 20px;
    height: auto; /* Should be removed. Only for demonstration */
}
.column2 {
    flex: 60%;
	padding: 20px;
	padding-left: 50px;
}

.image{
	border-radius: 50%;
	height: 70%;
	width: 70%;
}


a {
	color: #e0e0f0;
	text-decoration: none;
}




label{
	
	font-size: larger;
}
p{
    color: blue;
}
td{
	padding: 14px;
	font-size: 14pt;
	font-weight: bolder;
}
.T1{
	margin-top: -20px;
	display: flex;
}

input[type="text"],
input[type="password"] {
	width: 70%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: none;
	box-sizing: border-box;
  border-radius: 10px;
}
input[type="text"]:focus,
input[type="password"]:focus {
	border: 4px solid rgb(169, 216, 250);
	outline: none;
}
.updatebt{
	background-color: #6aa438;
	color: #e0e0f0;
	font-weight: bold;
	width: auto ;
	border: none;
	border-radius: 10px;
	padding: 10px 10px;
	text-align: center;
	font-size: 16px;
	margin-left: 0px;
	display: flex;
}

/* Set a style for all buttons */
button {
	background-color: #6aa438;
	color: #e0e0f0;
	padding: 10px 10px;
	margin: 10px 20;
	border: none;
	border-radius: 10px;
	font-size: 17px;
	font-weight: bold;
	cursor: pointer;
	width: 50%;
	opacity: 0.9;
}
.prbtn{
	margin-top: 0px;
}
.bt2 {
	margin-left: 60px;
}
a {
	color: #e0e0f0;
	text-decoration: none;
}

button:hover {
	opacity: 1;
}






