.main{
	padding: 100px 150px 0px 150px;
}

.sub2 {
    font-size: 30px;
    font-weight: bold;
    margin-left: 50px;
}

.sub3 {
    font-size: 25px;
    margin-left: 110px;
}

.top-container{
    margin-top: 20px;
    display: flex;
    border: none;
    border-radius: 10px;
    background-color:#96c7d6;
	width: 70%;
	height: auto;
	margin: auto;
    min-width: 900px;
}
  
/* Create two equal columns that sits next to each other */
.column1 {
    flex: 40%;
    padding: 20px;
    height: 500px; 
    /* border: 1px solid black; */
}

.column2 {
    flex: 60%;
    padding: 20px;
    height: 500px; 
    /* border: 1px solid black; */
}

.image {
    margin-left: 50px;
    height: 240px;
    width: 250px; 
    border-radius: 50%;
}

.badge {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-left: 130px;
}

.btnpw {
    border-radius: 5px;
    background-color: #84b464;
    border: none;
    font-size: medium;
    width: auto;
    padding: 10px;
    margin: 0px 10px 0px 10px;
    float: right;
}

a {
	color: white;
	text-decoration: none;
}

.top-td {
	padding: 14px;
	font-size: 14pt;
	font-weight: bolder;
}

.horizontal {
    display: flex;
    margin-top: 20px;
}

.cont1 {
    width: 50%;
    margin: 20px;
    background-color: #96c7d6;
    height: auto;
    border-radius: 10px;
    padding: 20px;
    font-size: 20px;
}
.cont2 {
    width: 50%;
    margin: 20px;
    background-color: #96c7d6;
}

.head {
    font-weight: bold;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.more {
    background-color: #84b464;
    align-items: center;
    justify-content: center;
    height: 50px;
    border-radius: 20px;
    padding: 10px 0px 10px 130px;
    font-weight: bold;
}

.white-color {
    color: white;
}

.bronze-color {
    color: #CD7F32;
}

.silver-color {
    color: silver;
}

.gold-color {
    color: gold;
}

.platinum-color {
    color: #be8616;
}

.name {
   display: flex;
   justify-content: space-between;
}
















