.main{
	padding: 100px 150px 0px 150px;
}

.row1{
    margin-top: 20px;
    display: flex;
    border: none;
    border-radius: 10px;
    background-color:#96c7d6;
	width: 1000px;
	margin:auto;
	flex-direction: row;

}
.image{
	border-radius: 50%;
	height: 45%;
	width: 60%;
}
  
/* Create two equal columns that sits next to each other */
.column1 {
    flex: 40%;
    padding: 20px;
    height: 450px; /* Should be removed. Only for demonstration */
}
.column2 {
    flex: 60%;
	padding-top: -200px;
}

.btnpw{
	background-color: #84b464;
	color: #e0e0f0;
	font-weight: bold;
	border: none;
	border-radius: 15px;
	padding: 10px 32px;
	text-align: center;
	font-family: "Poppins", sans-serif;
	font-size: 16px;
}


a {
	color: #e0e0f0;
	text-decoration: none;
}


.row2{
    margin-top: 100px;
	
}

.column2 {
	float: left;
	width: 25%;
	padding: 10px;
	height: 300px;	 
}

label{
	
	font-size: larger;
}
p{
    color: blue;
}
td{
	padding: 14px;
	font-size: 14pt;
	font-weight: bolder;
}






