*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    background-color: #96c7d6;
    border-radius: 20px;
    margin-left: 130px;
    width: 900px;
    justify-content: center;
}

.wrapper {
    /* border: 1px solid black; */
    width: 50%;
    margin: auto;
    padding-left: 100px;
    display: flex;
}

.container-image {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container-image img {
    height: 200px;
    width: 300px;
    border-radius: 5px;
}

.btn {
    background-color: #6aa438;
    color: white;
    padding: 10px 20px;
    margin: 20px 0; 
    border-radius: 10px;
    border: none;
    cursor: pointer;
    text-align: center;
    width: auto;
    font-size: 20px;
    opacity: 0.88;
}

#publish-btn {
    margin-left: 400px;
  }

.btn:hover {
    opacity: 1;
}

.btn-area {
    width: 800px;
    display: flex;
    justify-content: space-between;
    margin: 0px 100px 0px 60px;
}


.left-div {
    float: left;
    padding-left: 20px;
    font-size: 18px;
    font-weight: bold;
    /* border: 1px solid black; */
}

.right-div {
    float: right;
    margin-left: 50px;
    font-size: 18px;
    /* border: 1px solid black; */
}

a {
    text-decoration: none;
    color: white;
}


/* h2, p{
    margin: 10px 10px 0 10px;
}
h3, h4 {
    margin: 0 0 10px 10px;
} */

.main {
    padding: 100px 150px 0 150px;
}

.p1{
	font-size: 16pt;
}

.p1{
	font-size: 16pt;
}

.image2{
	width: 50%;
	height: 50%;
	margin-left: 18%;
}

.btn4{
	background-color: #84b464;
	color: black;
	font-weight: bold;
	border: none;
	border-radius: 10px;
	padding: 5px 10px;
	text-align: center;
	display: inline-block;
	font-family: "Poppins", sans-serif;
	font-size: 14px;
	margin: auto;
	width: 155px;
	height: 45px;
}

form{
	border: solid;
	border-radius: 30px;
	width: 70%;
	height: 80%;
	padding: 30px;
	background-color: rgba(157, 156, 156, 0.709);
}

.details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin: 10px;
    margin-left: 15%;
    margin-top: 350px;
}

.details-container .row {
    padding: 0;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.details-container .row label {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50px;
    width: 40%;
    min-height: 30px;
    height: 100%;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: darkblue;
}

.details-container .row p {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50px;
    width: 60%;
    min-height: 30px;
    height: 100%;
    font-size: 18px;
    background-color: white;
    /* padding: 10px; */
}

.slider {
    width: 330px;
    height: 250px;
    background-color: yellow;
    margin-left: 40px;
    text-align: center;
    overflow: hidden;
    display: inline-block;
    margin-bottom: -300px;
    margin-top: 40px;
    margin-left: 280px;
  }
  
  .image-container {
    width: 1500px;
    background-color: pink;
    height: 250px;
    clear: both;
    position: relative;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
    margin-left: 0;
  }
  .slide {
    float: left;
    padding: 0px;
    position: relative;
    width: 500px;
    height: 250px;
  }
  #slide-1:target ~ .image-container {
    left: 0px;
  }
  #slide-2:target ~ .image-container {
    left: -500px;
  }
  #slide-3:target ~ .image-container {
    left: -1000px;
  }
  #slide-4:target ~ .image-container {
    left: -1500px;
  }
  #slide-5:target ~ .image-container {
    left: -2000px;
  }
  #slide-6:target ~ .image-container {
    left: -3000px;
  }

  .buttons {
    position: relative;
    top: -20px;
  }
  .buttons a {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50px;
    background-color: rgb(83, 2, 144);
  }
 
  /* .details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    margin: 10px;
} */

.details-container .row {
    padding: 0;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.details-container .row label {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50px;
    width: 40%;
    min-height: 30px;
    height: 100%;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: darkblue;
}

.details-container .row p {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50px;
    width: 60%;
    min-height: 30px;
    height: 100%;
    font-size: 18px;
    background-color: white;
}

#description {
    height: auto;
    font-size: 16px;
    padding: 0 5px;
}
#packages {
  height: auto;
  font-size: 16px;
  padding: 0 5px;
}
