.slider {
  width: 330px;
  height: 250px;
  background-color: yellow;
  margin-left: 40px;
  text-align: center;
  overflow: hidden;
  display: inline-block;
  margin-bottom: -300px;
  margin-top: 40px;
}

.image-container {
  width: 1500px;
  background-color: pink;
  height: 250px;
  clear: both;
  position: relative;
  -webkit-transition: left 2s;
  -moz-transition: left 2s;
  -o-transition: left 2s;
  transition: left 2s;
  margin-left: 0;
}
.slide {
  float: left;
  padding: 0px;
  position: relative;
  width: 500px;
  height: 250px;
}

.table1{
  font-size: 13pt;
  font-weight: bolder;
  width: 500px;
  margin-left: 400px;
  border-collapse: collapse;
  padding-bottom: 20px;
  border-radius: 50px;


}

#slide-1:target ~ .image-container {
  left: 0px;
}
#slide-2:target ~ .image-container {
  left: -500px;
}
#slide-3:target ~ .image-container {
  left: -1000px;
}

body{
  background-color: rgb(255, 255, 255);
}
.buttons {
  position: relative;
  top: -20px;
}
.buttons a {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background-color: rgb(83, 2, 144);
}
td{
  padding-top: 18px;
}
p{
  padding: 55px 0px 0px 45px;
}

h2{
font-size: 20pt;
font-weight: bolder;
}
.para{
width:80%;
font-size: 16pt;
font-weight: bolder;
margin-top: -30px;
}

.package {
  display: inline-block;
  width: 190px;
  height: 50px;
  border: none;
  border-radius: 10px;
  text-align: center;
  margin: 15px;
  position: relative;
  margin-left: 10%;
  padding-left: 20px;
  padding-top: 4px;
  background-color: rgb(75, 151, 228);
} 
.package:before {
  content: "";
  position: absolute;
  left:3px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
#silverPackage1:before {
  background-color: silver;
}
#goldPackage2:before {
  background-color: gold;
}
#platinumPackage3:before {
  background-color: 	rgb(229, 228, 226);
}
.sPackage
{
  text-align: center;
  border: none;
  border-radius: 10px;
  background-color: rgb(63, 192, 97);
  width: auto;
  height: 40px;
  font-size: large;
  display: inline-block;
  margin-left: 5%;
  padding-top: 7px;
}
#amount{
  width: 250px;
  height: 70px;
  padding-top: 5px;
  text-align: center;
  border: none;
  border-radius: 10px;
  margin-left: 5%;
  background-color: rgb(190, 192, 194);
}
#selectAmount{
  padding-left: 8px;
}

.color-circle {
  margin-top: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(149, 255, 0);
}

.btn1 {
background-color: #84b464;
color: #e0e0f0;
font-weight: bold;
border: none;
border-radius: 15px;
padding: 10px 32px;
text-align: center;
display: inline-block;
font-family: "Poppins", sans-serif;
font-size: 16px;
margin-left: 23%

}

.btn2{
background-color: #84b464;
color: #e0e0f0;
font-weight: bold;
border: none;
border-radius: 15px;
padding: 10px 32px;
text-align: center;
display: inline-block;
font-family: "Poppins", sans-serif;
font-size: 16px;

}

.btn-area1{
  width: 500px;
overflow: auto;
margin-left: 73%;
margin-top: 2%;
}

.btn-area2{
  width: 500px;
overflow: auto;
margin-top: -38px;
}

a {
color: white;
text-decoration: none;
}

.main{
padding: 100px 150px 0px 150px;
}

.container{
border:none;
border-radius: 10px;
padding: 20px;
background-color:#96c7d6;
width: 950PX;
margin: auto;
}

.input-container {
  width: 150px; /* set the width of the div container */
  position: relative; /* set the position to relative so we can position the currency symbol */
  padding-left: 15px;
  background-color: rgb(255, 255, 255);
  height: 30px;
  border: none;
  border-radius: 10px;
  font-size: large;
}



