.slider {
  width: 330px;
  height: 250px;
  background-color: yellow;
  margin-left: 60px;
  text-align: center;
  overflow: hidden;
  display: inline-block;
  margin-bottom: -300px;
}

.image-container {
  width: 1500px;
  background-color: pink;
  height: 250px;
  clear: both;
  position: relative;
  -webkit-transition: left 2s;
  -moz-transition: left 2s;
  -o-transition: left 2s;
  transition: left 2s;
  margin-left: 0;
}
.slide {
  float: left;
  padding: 0px;
  position: relative;
  width: 500px;
  height: 250px;
}

.table1{
  margin-left: 40%;
  margin-bottom: 0;
  font-size: 13pt;
  font-weight: bolder;
  padding-left: 120px;

}
#slide-1:target ~ .image-container {
  left: 0px;
}
#slide-2:target ~ .image-container {
  left: -500px;
}
#slide-3:target ~ .image-container {
  left: -1000px;
}

body{
  background-color: rgb(255, 255, 255);
}
.buttons {
  position: relative;
  top: -20px;
}
.buttons a {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background-color: rgb(83, 2, 144);
}
td{
  padding-top: 18px;
}
p{
  padding: 55px 0px 0px 45px;
}

h2{
font-size: 20pt;
font-weight: bolder;
}
.para{
width:80%;
font-size: 16pt;
font-weight: bolder;
}
.silver
{
  border: none;
  border-radius: 10px;
  background-color: rgb(190, 192, 194);
  width: 150px;
  height: 50px;
  display: inline-block;
  margin-left: 8%;
  text-align: center;
}
.btn1 {
background-color: #84b464;
color: #e0e0f0;
font-weight: bold;
border: none;
border-radius: 15px;
padding: 10px 32px;
text-align: center;
display: inline-block;
font-family: "Poppins", sans-serif;
font-size: 16px;
margin-right: 50%; 
margin-left: 5%
}

.btn2{
background-color: #84b464;
color: #e0e0f0;
font-weight: bold;
border: none;
border-radius: 15px;
padding: 10px 32px;
text-align: center;
display: inline-block;
font-family: "Poppins", sans-serif;
font-size: 16px;
/* margin-left: 5%;
margin-right: 650px; */
}
a {
color: white;
text-decoration: none;
}

.main{
padding: 100px 150px 0px 150px;
}

.container{
border:none;
border-radius: 10px;
padding: 20px;
background-color:#96c7d6;
width: 950PX;
margin: auto;
}
