
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main{
    padding: 100px 150px 0 150px;
}

h2{
    padding: 30px 50px;
}

#com-box{
    background-color: #B3CCE1;
    margin: 10px 100px;
    border-radius: 4px;
    margin-bottom: 15px;
}

.name{
    display: flex;
}

.name-item{
    padding: 30px 60px;
    /* width: 100%; */
}

#btn-area{
    display: flex;
    justify-content: space-between;
    margin: 0 100px 30px 100px;
    padding-bottom: 30px;
}

.btn{
    padding: 15px 20px;
    text-align: center;
    background-color: #6AA438;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 4px;
    width: 100px;
    cursor: pointer;
    border: none;
    color: white;
}

.btn:hover{
    transform: scale(1.1);
    transition: 00.3s;
}

#com{
    padding-top: 30px;
    width: 75%;
}