
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.main{
    background-color: #89AFD6;
    margin: 50px;
    border-radius: 4px;
}

h2{
    padding: 30px 50px;
}
#ar-box{
    background-color: #B3CCE1;
    margin: 10px 100px;
    border-radius: 4px;
    margin-bottom: 15px;
}
#ar-view-btn{
    padding: 15px 20px;
    margin-right: 50px;
    text-align: center;
    background-color: #84B464;
    border: none;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 4px;
    width: 120px;
    cursor: pointer;
}

#ar-box-item{
    display: flex;
    align-items: center;
}

#des{
    margin: 20px 50px 20px 50px;
    width: 780px;
}

#user-img{
    margin-left: 50px;
    height: 50px;
    width: 50px;
}

#ar-view-btn:hover{
    transform: scale(1.1);
    transition: 00.3s;
}

#ar-box-item-sname{
    width: 230px;
    display: inline;
    margin-left: 50px;
}

#back-btn{
    padding: 15px 20px;
    margin-right: 50px;
    text-align: center;
    background-color: #84B464;
    border: 1px solid;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 4px;
    width: 100px;
    cursor: pointer;
    margin-left: 100px;
}

#back-btn:hover{
    transform: scale(1.1);
    transition: 00.3s;
}
