

button:hover {
  opacity:1;
}
.cancel {
    background-color: #6aa438;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: auto;
    opacity: 0.9;
    padding: 15px;
}

a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.container-body {
  padding: 0 150px 0 150px;
}

body {
  font-weight: 100;
  --grey-100: #e4e9f0;
  --grey-200: #cfd7e3;
  --grey-300: #b5c0cd;
  --grey-800: #3e4e63;
  --grid-gap: 1px;
  --day-label-size: 20px;
}

ol,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.calendar-month {
  position: relative;
  background-color: var(--grey-200);
  border: solid 1px var(--grey-200);
}

.calendar-month-header {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 10px;
}

.calendar-month-header-selected-month {
  font-size: 24px;
  font-weight: 600;
}

.calendar-month-header-selectors {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80px;
}

.calendar-month-header-selectors > * {
  cursor: pointer;
}

.day-of-week {
  color: var(--grey-800);
  font-size: 18px;
  background-color: #fff;
  padding-bottom: 5px;
  padding-top: 10px;
}

.day-of-week,
.days-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.day-of-week > * {
  text-align: right;
  padding-right: 5px;
}

.days-grid {
  height: 100%;
  position: relative;
  grid-column-gap: var(--grid-gap);
  grid-row-gap: var(--grid-gap);
  border-top: solid 1px var(--grey-200);
}

.calendar-day {
  position: relative;
  min-height: 100px;
  font-size: 16px;
  background-color: rgb(255, 255, 255);
  color: var(--grey-800);
  padding: 5px;
}

.calendar-day > span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 2px;
  width: var(--day-label-size);
  height: var(--day-label-size);
}

.main {
  padding: 100px 150px 0 150px;   
}

h2, p{
  margin: 10px 10px 0 10px;
}
h3, h4 {
  margin: 0 0 10px 10px;
}