body{
    background-color: white;
}

form {
    border: 2px solid #f1f1f1;
    width: 600px;   
    margin: auto;  
    margin-top: 20px;
    padding: 70px;  
    background: #96c7d6;  
    border-radius: 15px ;
  }

select {
    background: #f1f1f1;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    width: 100%;
    cursor: pointer;
    border: none;
}
  

input[type=text], input[type=select], .des {
  width: 100%;
	padding: 15px;
	margin: 5px 0 15px 0;
	display: inline-block;
	border: none;
	border-radius: 10px;
	background: white;
}

.des {
  resize: none;
  line-height: 3;
}

input[type=text]:focus, .des:focus {
  border: 4px solid rgb(169, 216, 250);
	outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
  width: 100%;
}

button {
  background-color: #6aa438;
  color: #e0e0f0;
  font-size: 18px;
  font-weight: bold;
  padding: 14px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 30%;
  opacity: 0.9;
}

.request {
  float: right;
}

button:hover {
  opacity:1;
}

#head {
  font-size: 25px;
  font-weight: bold;
}

#text {
  font-size: 20px;
}

#complain {
  font-size: 20px;
}

#send {
  font-size: 18px;
}
.cancel {
  float: left;
}

.next {
    float:right;
}

.new {
    float:right;
    margin:0;
    padding: 0;
}

.container {
  padding: 16px;
}

.buttons::after {
  content: "";
  clear: both;
  display: table;
}

.main {
  padding: 100px 150px 0 150px;   
}
