* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* .item {
    border: 1px solid black;
} */

.back-image {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center center;
    z-index: -1;
    min-height: 100%;
}

.container {
    width: 80%;
    height: 400px;
    border-radius: 20px;
    background-color: white;
    opacity: 0.8;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 1fr;
    grid-template-areas: 
        "a b"
        "c b";
    margin: auto;
    margin-top: 150px;
}

.item-1 {
    grid-area: a;
    display: flex;
}

.item-2 {
    grid-area: b;
}

.item-3 {
    grid-area: c;
    padding: 30px 0px 0px 100px;
}

input[type=text] {
    width: 70%;
    padding: 10px;
    border-radius: 20px;
    margin: auto;
    display: inline-block;
    border: 1px solid gray;
}

#search {
        background-color: #6aa438;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 15px;
        cursor: pointer;
        text-decoration: none;
        font-size: 15px;
}

#logo {
    height: 300px;
}

#slang {
    font-size: 30px;
    margin-top: 70px;
}

h3 {
    align-content: center;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }

  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 2s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }