
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Lobster&family=Open+Sans:wght@300&family=Poppins:ital,wght@0,100;0,200;0,400;1,100&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
   
    background-image: url("https://www.asvabprogram.com/media-center-content/thumbnails/social-share/Volunteer_facebook.jpg");
    font-family: 'Poppins', sans-serif;
    background-repeat: no-repeat;
    background-size:cover;
}

h1{
    text-align: center;
    margin-top: -90px;
}
.tex{
  margin-left: 30%;
  margin-top: 20%;
}
 
 /* Bordered form */
 form {
    border: 2px solid #ffffff;
    width: 500px;   
    margin: auto;  
    padding: 80px 80px;  
    background: #c1baba;  
    border-radius: 15px ;
    margin-right: 150px;
    margin-top: 60px;

  }

  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #6aa438;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;

    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-size: 20px;

  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
  }
  
  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
  
  }
  
  



  