* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body{
      background-color: rgb(255, 255, 255);
  }
  
  h2{
      text-align: center;
  }
   
   /* Bordered form */
   form {
      border: 2px solid #f1f1f1;
      width: 500px;   
      margin: auto;  
      margin-top: 20px;
      padding: 80px 80px;  
      background: #89afd6;  
      border-radius: 15px ;
    }
    
    /* Full-width inputs */
    input[type=text], input[type=password] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }
    
    /* Set a style for all buttons */
    button {
      background-color: #6aa438;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
      text-decoration: none;
      font-size: 20px;
  
    }
    
    /* Add a hover effect for buttons */
    button:hover {
      opacity: 0.8;
    }
  
    
    .main {
      padding: 100px 150px 0 150px;   
  } 