*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
	padding: 16px;
}

form{
	border: 2px solid #f1f1f1;
    width: 700px;   
    margin: auto;  
    margin-top: 20px;
    padding: 75px;  
    background: #89afd6;  
    border-radius: 15px ;
}

textarea {
	width: 400px;
	padding: 15px;
	display: inline-block;
	border: none;
	resize: none;
	background: #f1f1f1;
}

button {
	background-color: #6aa438;
	color: white;
	padding: 14px 20px;
	margin: 15px 0;
	border: none;
	cursor: pointer;
	border-radius: 10px;
	width: 100px;
	opacity: 0.9;
}

.btn2 {
	float: right;
}

body {
	background-color: #ffffff;
}

h1 {
	padding: -100px 10px 20px 0px;
	font-size: 24pt;
}
h2{
	padding-left: 45px;
}

.p1{
	font-size: 16pt;
}



.vertically-center {
	margin: 0;
	position: absolute;
	top: 41%;
	left: 16%;
}


.container2 {
	/* display: flex; */
	justify-content: 20px;
	background-color: #ccdcb4;
}

a {
	color: white;
	text-decoration: none;
} 


.main{
    padding: 100px 150px 0px 150px;

}

label{
	font-weight: 400;
	font-size: larger;
}
.image2{
	width: 40%;
	height: 32%;
	margin-left: 18%;
}
.des{
	width: 550px;
	height: 150px;
	margin-left: 30px;
	border-radius: 8px;
	font-size: 13pt;
}
.file{
	margin-left: 30px;
	font-size: 12pt;
}
