body{
    background-color: #b3cce1;
    font-family: 'Poppins', sans-serif;
}

button:hover {
  opacity:1;
}

.new {
    float:right;
    background-color: #6aa438;
    color: #e0e0f0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 12%;
    opacity: 0.9;
    padding: 15px 10px 15px 10px;
}

a {
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.container-body {
  padding: 0 100px 0 100px;
}

.requests {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.requests td, .requests th {
  border: 1px solid #ddd;
  padding: 8px;
}

.requests tr:nth-child(even){background-color: #f2f2f2;}

.requests tr:hover {background-color: #ddd;}

.requests th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}


