* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
    background-image: url("https://www.asvabprogram.com/media-center-content/thumbnails/social-share/Volunteer_facebook.jpg");
    font-family: 'Poppins', sans-serif;
    background-repeat: no-repeat;
    background-size:cover;
}

form {
  border: 2px solid #ffffff;
  width: 550px;   
  height: 680px;
  margin: auto;  
  padding: 80px 80px;  
  background: #c1baba;  
  border-radius: 15px ;
  margin-right: 150px;
  margin-top: 120px;
}


select {
    background: #f1f1f1;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    width: 100%;
    cursor: pointer;
    border: none;
}
  

/* Full-width input fields */
  input[type=text], input[type=password], input[type=select],input[type=email] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
  width: 100%;
}

/* Set a style for all buttons */
button {
  background-color: #6aa438;
  color: #e0e0f0;
  padding: 14px 20px;
  margin: 15px 0;
  border: none;
  cursor: pointer;
  width: 40%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

h1{
  margin-top: -90px;
  text-align: center;
}

p{
    font-size: 18px;
}


/* Float cancel and signup buttons and add an equal width */
.cancel {
  float: left;
  /* width: 40%; */
}
.next {
    float:right;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.error{
  text-align: center;
  font-size: 18px;
  color:red;
  font-weight: bold;
  padding-left: 30px;
  padding-top: 30px;

}
