.container {
    /* justify-content: center; */
    background-color: #96c7d6;
    /* text-align: center; */
}

.wrapper {
    border: 1px solid black;
    padding-left: 130px;
    width: 50%;
    margin: auto;
}

.container-image{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
}

.main {
    padding: 100px 150px 0 150px;   
}

img {
    height: 200px;
    width: 300px;
}

.btn {
    background-color: #6aa438;
    color: white;
    padding: 14px 20px;
    margin: 15px 0;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    width: 100px;
    font-size: 20px;
    opacity: 0.9;
}

.btn-area {
    width: 50%;
    margin: auto;
}

/* #cancel {
    float: left;
} */
  
#next {
    float: right;
}

#data {
    padding-left: 200px;
    text-align: left;
}

h2, p{
    margin: 10px 10px 0 10px;
}
h3, h4 {
    margin: 0 0 10px 10px;
}

.main {
    padding: 100px 150px 0 150px;   
}
