

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 20px;
}

.item{
    padding:10px;
    /* border: 1px solid #ccc;  */
    margin: 5px;
}

img {
    height: 200px;
    width: 300px;
}

body {
    font-family: 'Poppins', sans-serif;
}

h2{
    padding: 20px 0px 0px 30px;
}

.btn1, .btn2 {
    background-color: #84b464;
    color: black;
    border-radius: 15px;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin-left: 28%;
    margin-right: 20px;
}

table {
    margin-left: 28%;
    padding-bottom: 40px;
}

td {
    padding-right: 70px;
}