.container {
	/* display: flex; */
	justify-content: center;
	background-color: #ccdcb4;
}

.container-image {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding-top: 20px;
    padding-right: 450px;
}

.item {
	padding: 10px;
	margin: auto;
}

.item1 {
	text-align: center;
}

img {
	height: 200px;
	width: 300px;
}

body {
	font-family: "Poppins", sans-serif;
	background-color: #b3cce1;
}

h2 {
	padding: 20px 0px 0px 30px;
}

p{
    padding: 0px 0px 0px 45px;
}

.p2{
    padding: 50px 40px 20px 50px;
}

.vertically-center {
	margin: 0;
	position: absolute;
	top: 41%;
	left: 16%;
}

.btn1,
.btn2 {
	background-color: #84b464;
	color: black;
	font-weight: bold;
	border: none;
	border-radius: 15px;
	padding: 10px 32px;
	text-align: center;
	display: inline-block;
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	margin-left: 28%;
	margin-right: 20px;
}
.btn3 {
	background-color: #84b464;
	color: black;
	font-weight: bold;
	border: none;
	border-radius: 15px;
	padding: 10px 32px;
	text-align: center;
	display: inline-block;
	font-family: "Poppins", sans-serif;
	font-size: 14px;
	margin-left: 28%;
	margin-right: 20px;
	width: 155px;
	height: 45px;
}


.container2 {
	/* display: flex; */
	justify-content: 20px;
	background-color: #ccdcb4;
}

a {
	color: black;
	text-decoration: none;
}

table {
	margin-left: 28%;
	padding-bottom: 40px;
}

.table2 {
	margin-left: 10%;
	padding-bottom: 40px;
}

td {
	padding-right: 70px;
}


